* {
    box-sizing:border-box;
}
body {
    color:white;
    background-image: url(../images/hixs_pattern_evolution.png);
    font-family: 'Arvo', serif;
}
#homeRunner {
    text-align:center;
    background-color:midnightblue;
    border: solid 2px black;
}
#homeRunner h1 {
    font-size: 3em;
    font-weight: bold;
}
.homeRunnerBlock {
    display:inline-block;
}
#homeProfileMenu {
    text-align:center;
}
.homeProfile {
    background-color: midnightblue;
    margin:10px;
    border: solid 2px black;
    border-radius:20px;
    box-shadow:10px 10px 10px black;
    width: 204px;
    height: 275px;
    display: inline-block;
}
.homeProfile h2 {
    font-size:2em;
    font-weight:bold;
}
.homeProfilePicture {
    height:200px;
    width:200px;
    border-radius:20px;
}
.homeProfileText {
    display:inline;
    width:200px;
    height:50px;
}